// Navigation code here.container {
    .container {
        border: 1px solid pink;
      }
      
      .nav-container {
        background-color: aqua;
        .navbarstyle();
        .logo-heading {
          font-size: 4rem;
        }
        .nav {
          display: flex;
          justify-content: space-between;
          width: 50%;
          .nav-link {
            font-size: 1.8rem;
            text-decoration: none;
            color: black;
          }
        }
      }
      
